.register {
    height: 50rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.register-container {
    width: 70rem;

    background-color: white;
    
    border: 2px solid rgb(235, 226, 216);
    border-top: 10px solid rgb(235, 226, 216);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.register-form {
    padding-left: 180px;
}
